<div class="container">
  <h1>Questions</h1>
<% if @user %>
  <form action="/questions/new" method="get">
    <button type="submit">New Question</button>
  </form>
<% end %>
  <div class="list_heading">
    <ul style="list-style-type: none">
<% @questions.each do |question| %>
<%= erb :'questions/_question', layout: false, locals: { question: question } %>
<% end %>
    </ul>
  </div>
