<div class="question-container">
  <article>
    <h1><@= @question.title @></h1>
    <p>Code for upvote/downvote can go here</p>
    <p><@= @question.description @></p>
    <p>
      <a href="#">Edit</a> | <a href="#">Delete</a>
    </p>
  </article>
</div>
