<div class="container">
  <article>
    <h1><%= @question.title %></h1>
    <p>Code for upvote/downvote can go here</p>
    <p><%= @question.description %></p>
    <p>
      <a href="/questions/<%= @question.id %>/edit">Edit</a> | <a href="/questions/<%= @question.id %>/delete">Delete</a>
    </p>
  </article>
</div>

