<div class= "container">
<form method='post' action='/comments/new/<%= commentable_id %>/<%= commentable_type%>'>
  <label>Comment:</label><br>
  <textarea name='comment_description'>
  </textarea><br>
  <button type='submit_comment' name='submit_comment' >Submit Comment</button>
</form>
</div>
