<div>
<form method="POST" action="/sessions">
<label for="username">Username</label><br>
<input type="text" name="username"/><br><br>
<label for="password">Password</label><br>
<input type="text" name="password"/><br><br>
<button>Log In</button>
</form>
</div>
