<div>
<form method="POST" action="users">
<label for="username">Display Name</label><br>
<input type="text" name="username"/>
<label for="email">Email</label>
<input type="text" name="email"/>
<label for="hash_pw">Password</label>
<input type="text" name="hash_pw"/>
<button>Sign up</button>

<div>
<p> Already have an account? <a href="#">Log in</a>
</div>

</form>
</div>
