<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/css/normalize.css">


  <!--
    third party css
  -->
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="/vendors/css/2cols.css">
  <!--
    our css
    -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<div class="col span_1_of_2"><a href="/"><img src="/images/bt-logo.png" class="logo"></a></div>
<div class = "col span_2_of_2">
<nav class= "fixed-nav-bar">
<ul class= "navigation">

<li><a href="/questions">Questions</a></li>
<% if current_user %>
  <li><a href="/users/<%= current_user.id %>"><%= current_user.username %></a></li>
  <li><a href="/sessions/logout">Log Out</a></li>
<% else %>
  <li><a href="/users/new">Register</a></li>
  <li><a href="/sessions/new">Log In </a></li>
<% end %>
</ul>
</nav>
</div>
</header>
<body>
  <%= yield %>
</body>
</html>
