<h1>Votes Page<%= current_user.username%></h1>
<ul>
<% @votes.each do |vote| %>
  <li>
    <%= erb :'votes/vote', layout: false, locals: {vote: vote} %>
  </li>
<% end %>
</ul>
<a href="/comments">Create a vote on comments</a>

